models/50Hertz*
models/darts_logs
models/lightning_logs
models/nixtla_logs
models/nixtla_tb_logs
models/regression.log
data_processing/*.log
venv
__pycache__
models/**/*.tar.gz
**/.ipynb_checkpoints/**
data_processing/**/produkt*.txt
data_processing/**/stundenwerte*.zip
models/local/nixtla_tb_logs
.cache
.env
outputs*
wandb
pred_cache